<%= form_tag '/signin', method: 'POST' do %>
  <label for="name">Name:</label>
  <%= text_field_tag :'user[name]' %>
  <label for="password">Password:</label>
  <%= password_field_tag :'user[password]'  %>
  <%= submit_tag 'Sign In' %>
<% end %>
